/*GENERAL*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    
    
}

body{
    font-family: 'Poppins', sans-serif;
    ;
    
}

html{
    scroll-behavior: smooth;
    }

p{
    color: rgb(85, 85, 85);
}

/*TRANSITION*/
a,
.btn{
    transition: all 300ms ease;
} 

/*DESKTOP NAVIGATION*/
nav,
.nav-links {
    display: flex;
    
     
    } 

.navlist li a{
    font-size: 1.2rem;
    padding: 0 20px; 
    ;
    
}

   .navlist li{
    display: inline-block;
    margin-left: 4rem;
    
    }

nav{
    width: 1200px;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: #000;  
    }

a:hover{
    color: gray;
    text-underline-offset: 1rem;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(181, 181, 181);
}   

.logo{
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    padding: 0 20px;
    margin-right: 8rem;
}

.logo:hover{
    cursor:default;
}



/*HAMBURGER MENU*/
#hamburger-nav{
    display: none;
    max-width: 800px;

}
.hamburger-menu{
    position: relative;
    display: inline-block;
    margin-left: 20rem;
    
}

.hamburger-icon{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height:24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.3 ease in-out;
}
.menu-links{
    position:absolute;
    top: 100%;
    right: 0;
    background-color: aliceblue;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
   color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 500px;
}

.hamburger-icon.open span:first-child   {
    transform: rotate(45deg) translate(10px, 5px);
    transform: none;

}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform:none;
}
.hamburger-icon span:first-child{
    opacity:1;
}
.hamburger-icon span:first-child{
    transform:none;
}
/*SECTIONS*/
img{
    width: 450x;
    height: 450px;
    border-radius: 50%;
}

section{
    padding-top: 4vh;
    height:96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height:fit-content;
    display: flex;
}
 .section-container{
    display: flex;
 }

 /*PROFILE SECTION*/
 #profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height:80vh;
 }

 .section_pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
 }

 .section_text{
    align-self: center;
    text-align: center;

 }

 .section_text p{
    font-weight: 600;
 }

.section_text p1{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#social{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*ICON*/
.icon{
    cursor: pointer;
    height: 2rem;
}
/*BUTTON*/
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding:1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color2{
border: olive;
}
.btn-color-1:hover,
.btn-color2:hover{
    background:rgb(85, 85, 85)
}

.btn-color-1:hover{
    background:rgb(85, 85, 85);
}

.btn-color-2{
    background:none

}
.btn-color-2:hover{
    border: rgb(9, 8, 8);
    background: rgb(72, 72, 71)
}
.btn-container{
    gap: 1rem;
}

/****************/
/*ABOUT SECTION*/

.about-section { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8.2rem 1fr;
    gap:2rem;
}
.section-title{
  grid-column: 1/-1;
  justify-items: center;
  align-items: center;
}
.author-image{
  grid-column: 3/4;
}
.about-info{
  grid-column: 1/3;
  grid-row: 2/3;
}





