/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1800px;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}


/*NAVIGATION*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 23px;
  margin-left: 25px;
}

.nav-container {
  display: flex;
  margin-left: 15rem;
  position: relative;
  max-width: 100%;
  height: 5rem;
  align-items: center;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: gray;
  text-underline-offset: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(181, 181, 181);
}

/*LOGO SECTION*/

.logo {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  padding: 0 20px;
  margin-right: 20rem;
}

.logo:hover {
  cursor: default;
}

/*PROFILE SECTIONS*/
.profile-pic {
  width: 450px;
  border-radius: 50%;
  object-fit:cover;
}


/*PROFILE SECTION*/
#profile {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 8rem;
  margin-right: 12rem;
  gap: 2rem;
  margin-bottom: 6rem;
}

.profile-con {
  display: flex;
  height: 400px;
  width: 400px;
  margin-left: 3rem;
  margin-right: 8rem;
}

.section_text {
  align-self: center;
  text-align: center;
  margin-bottom: 5rem;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.section_text_p2{
    font-size: 1.5rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#social {
 width: 24px;
 height: 24px;
 display: flex;
 gap: 15px;
 margin-left: 10rem;

}

/*ICON*/
.icon {
  cursor: pointer;
  height: 2rem;
}
/*BUTTON*/
.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  font-weight: 600;
  padding: 12px;
  width: 8rem;
  border-radius: 2rem;
} 



.btn-color-1:hover {
  background: rgb(85, 85, 85);
}

.btn-color-2 {
  display: grid;
  margin: 1.5rem;
}



.btn-color-2:hover {
  border: rgb(9, 8, 8);
  background: rgb(72, 72, 71);
  color: white;
}
.btn-container {
  gap:1rem;
}


/*BOX*/
.box-heading {
  font-size: 2rem;
}


/*ABOUT SECTION*/

.about-image {
  width: 19rem;
  height: 22rem;
  border-radius: 3rem;
  border-style: groove;
}

.about-section {
  padding: 3rem 2rem;
  background-color: #f9f9f9;
}

.about-image {
  width: 19rem;
  height: 31rem;
  border-radius: 2.5rem;
  object-fit: cover;
}

.about-title {
  text-align: center;
  margin-bottom: 0.2rem;
  font-size: 3rem;
  font-weight: 500;
}

.about-title span {
  color: #4e4e4e;
}

.subtext {
  text-align: center;
  color: #777;
  margin-bottom: 2rem;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.left-side {
  flex: 1;
  min-width: 16rem;
  display: flex;
  justify-content: center;
}

.right-side {
  flex: 2;
  min-width: 16rem;
}
.about-text {
  display: flex;
  margin: 5rem 5rem 5rem 5rem;
}
.info-cards {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  width: 350px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.about-description {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}
.info-boxes {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.arrow-icon {
  margin-top: 15rem;
}

/* EXPERIENCE SECTION */

.experience-section {
  display: grid;
  width: auto;
}

.section-header {
  justify-self: center;
  grid-row: 1/2;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
}

.exp-box {
  grid-row: 2/3;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.setexp {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 4rem;
  border-radius: 2rem;
}

.setexp h4 {
  margin: 0 auto;
  padding: 1rem;
}
.setexp ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  padding: 0.7rem;
}
.setexp li {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  font-size: medium;
}

.contrnt {
  min-width: fit-content;
}

/*PROJECT*/

.project-section-head {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5rem;
}
.project-section-head h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 500;
}
.project-section-head p {
  text-align: center;
}

.pro-container {
  display: grid;
  padding: 0.7rem;
  margin: 0.7rem;
  max-width: 100%;
  background-color: #f9f9f9;
  border-radius: 2rem;
}

.procard {
  list-style: none;
  display: grid;
  padding: 2.7rem;
  margin: 2.7rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.procards {
  margin: 1.8rem;
  padding: 1.8rem;
  border: 1px solid rgb(14, 13, 13);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.card-body {
  display: grid;
  margin: 0.3rem;
  padding: 0.3rem;
}
.card-body img {
  width: 25rem;
  height: 25rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
}

.card-image {
  display: flex;
}

#span {
  font-size: x-small;
}

.probtn {
  display: flex;
}

.procards h3 {
  text-align: center;
}
