/*GENERAL*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    
    
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    }

    

p{
    color: rgb(85, 85, 85);
}

/*TRANSITION*/
a,
.btn{
    transition: all 300ms ease;
} 

/*DESKTOP NAVIGATION*/
nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 1rem;
    align-items: end;
    width: 100%;

}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    
     
    } 

.navlist li a{
    font-size: 1.2rem;
    padding: 0 20px; 

    ;
    
}

   .navlist li{
    display: inline-block;
    margin-left: 6rem;
    
    }


a{
    text-decoration: none;
    color: #000;  
    }

a:hover{
    color: gray;
    text-underline-offset: 1rem;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(181, 181, 181);
}   

.logo{
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    padding: 0 20px;
    margin-right: 8rem;
}

.logo:hover{
    cursor:default;
}



/*HAMBURGER MENU
#hamburger-nav{
    display: none;
    justify-content: space-between;
    align-items: center;
}



.hamburger-menu{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    
    
}

.hamburger-icon{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height:24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.3 ease in-out;
}
.menu-links{
    position:absolute;
    top: 100%;
    right: 0;
    background-color: aliceblue;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
   color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 500px;
}

.hamburger-icon.open span:first-child   {
    transform: rotate(45deg) translate(10px, 5px);
    transform: none;

}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform:none;
}
.hamburger-icon span:first-child{
    opacity:1;
}
.hamburger-icon span:first-child{
    transform:none; 
} */

/*SECTIONS*/
.profile-pic{
    width: 450x;
    height: 450px;
    border-radius: 50%;
}


 

 /*PROFILE SECTION*/
 #profile{
    align-items: center;
    gap: 8rem;
    max-width: 100%;
    display:flex;
    margin: 5rem;
    padding: 5rem;
    
 }

 .section_pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin-right: 8rem;
 }

 .section_text{
    align-self: center;
    text-align: center;
    margin-bottom: 5rem;

 }

 .section_text p{
    font-weight: 600;

 }

.section_text p1{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#social{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*ICON*/
.icon{
    cursor: pointer;
    height: 2rem;
}
/*BUTTON*/
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding:12px;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color2{
border: olive;
}
.btn-color-1:hover,
.btn-color2:hover{
    background:rgb(85, 85, 85)
}

.btn-color-1:hover{
    background:rgb(85, 85, 85);
}

.btn-color-2{
    background:none;
    display: grid;
    margin: 25px;
}

.btn-color-1{
background: liner linear-gradient(135deg, #4f46e5, #3b82f6);
color: #696a55;
position: relative;
overflow: hidden;
margin: 25px;
}
.btn-color-2:hover{
    border: rgb(9, 8, 8);
    background: rgb(72, 72, 71)
}
.btn-container{
    gap: 1rem;
}

/*BOX*/
.box-heading{
    font-size: 30px;
}

/****************/
/*ABOUT SECTION*/

.about-image{
    width: 300px;
    height: 350px;
    border-radius: 3rem;
    border-style:groove;
}

.about-section {
    padding: 3rem 2rem;
    background-color: #f9f9f9;
}

.about-image{
    width: 300px;
    height: 500px;
    border-radius: 2.5rem;
    object-fit: cover;
}


.about-title{
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 2rem;
}

.about-title span{
    color: #4e4e4e;
}

.subtext{
    text-align: center;
    color: #777;
    margin-bottom: 2rem;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    align-items: flex-start;
}

.left-side{
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
}

.right-side{
    flex: 2;
    min-width: 250px;
}
.about-text{
    display: flex;
    margin:5rem 5rem 5rem 5rem ;
    
}
.info-cards{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    width: 350px;
    background-color:#fff;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.about-description{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}
.info-boxes{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}




.arrow-icon{
    margin-top: 15rem;
    
}


/* EXPERIENCE SECTION */

.experience-section {
    display: grid;
    width: 100%;
}

.section-header{
    justify-self: center;
    grid-row:1/2;
    font-size: 2rem;
    padding: 2rem;
}

.exp-box{
    grid-row: 2/3;
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.setexp{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 60px;
    border-radius: 2rem;

}

.setexp h4{
    margin: 0 auto;
    padding: 20px;
}
.setexp ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
    padding: 10px;
}
.setexp li{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 20px;
    font-size: medium;
 }

 
.contrnt{
    min-width: fit-content;
}

/*PROJECT*/

.project-section-head{
    display:grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
}
.project-section-head h1{
    text-align: center;
    margin-top: 2rem;
}
 .project-section-head p{
    text-align: center;
 }

.pro-container{
    display: grid;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    background-color: rgb(224, 224, 224);
    border-radius: 2rem;
}

.procard{
    list-style: none;
    display: grid;
    padding: 40px;
    margin: 40px;
    grid-template-columns:1fr 1fr 1fr;
}
 .procards{
    margin: 30px;
    padding: 30px;
    border:1px solid rgb(14, 13, 13);
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    


 }

 .card-body{
   display: grid;
   margin: 5px;
   padding: 5px;

 }
 .card-body img{
    width: 400px;
    height: 250px;
    border-radius: 0.5rem;
    margin-top: 3rem;
 }

 .card-image{
    display: flex;
 }

 .card-body h4{
    
 }

 #span{
    font-size: x-small;
 }