
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    
}

:root{
    --main-color: #052730;
    --bg-color: hwb(189 16% 28%);
    --snd-bf-color: #0c0808;
    --text:black;

}

body {
    font-family:"montserrat",serif;
    background: var(--bg-color);
    color: var(--text-color);
    width:1200px;
}

/*HEADER SECTION*/

.header{
    background-color: rgb(29, 50, 61);
    text-align: center;
    padding: 30px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
}
.nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.logo {
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    
}

.navbar {
    color: #fff;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    margin: 0;
    justify-content: center;
    padding: 10px 30px;
}

.featured-box {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    background: #023b49;
    width: 100%;
    border-radius: 0.6rem;
    
}



.navbar ul li{
    list-style: none;
    justify-content: space-between;
    display: inline-block;
    margin: 10px;
    align-items: center;
    width: 80%;
    padding-left: 1rem;


    
}

.navbar ul li:hover{
    background-color:#1f8d99;
}

.navbar ul li a:hover {
    color: whitesmoke;

}

.navbar ul{
    display: flex;
}

/*--------Featured Box*/



/*--------Featured Box*/
.featured-text{
    position:relative;
    display: flex;
    justify-content: center;
    align-content:center;
    flex-direction: column;
    width: 50%;
    padding-left:20px;
}

.featured-text-card span{
    background:#1a9096;
    color: white;
    padding: 3px 8px;
    font-size: 45px;
    border-radius: 5px;
    font-weight:540;
}

.featured-name{
    font-size: 35px;
    font-weight: 350;
    color: #05566a;
    margin-block: 20px;
}


.typedText{
    text-transform: capitalize;
    color:rgb(163, 137, 21);

}

.featured-text-info{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin-block: 20px;
}

.featured-text-btn{
      padding: 3px 8px;
      border-radius: none;

}
 .btn-blue-btn{
    background-color:#0a6069e9 ;
    font-size: 16px;
    justify-content: space-between;
    padding:1rem;
    text-align: center;
    margin-top: 8px;
    border-radius: 0.8rem;
    margin-right: 1.4rem;

    
    
 }

 .btn-blue-btn:hover{
    background: rgb(163, 137, 21);
 }

.btn{
    padding: 10px 20px;
    width: auto;
    background-color: #1a9096;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    justify-content: space-between;
    margin-top: 0.7rem;
    border-radius: 0.7rem;
    white-space: nowrap;
    margin-left: 3rem;
    
    
}

.btn a{
    text-decoration: none;
    justify-content: justify;
    padding-top: 10px;


}

.btn p{
    text-align: center;
    font-weight: 400;
}

.btn:hover{
    background: rgb(163, 137, 21);
}

.btn-contact {
    font-size: 18px;
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
    background: #05566a;
}

.btn-contact:hover{
    background: #419ab3;
}

.profilejpg{
    max-width: 60%;
    height: auto;
    object-fit: contain;
    padding-left: 3.2rem;
    display: block;
    margin-top: 10rem;
    border-radius: 10rem;
}

img{
    width: 100%;
    border-radius: 1rem;
    padding-left:6rem;
    box-shadow: #1a9096; 
    margin-bottom: 4.5rem;
    animation:imgFloat 7s ease-in-out infinite ; 
}

@keyframes imgFloat{
    50%{
        transform: translateY(10px);
        border-radius: 45% 55%  45% 55%;

    }
}



/* ABOUT */

.about {
    margin: 60px auto;
}


.aboutmypo h1{
    flex-wrap: wrap;
    align-items: center;
    padding: 0%;
    margin: auto;
    display: flex;
    justify-content: center;
}
   
    

.aboutmypo p{
    margin-top: auto;
    text-align: center;
    line-height: 1.6;
    padding: 20px;
    margin-bottom: auto;
    text-transform: none;
    letter-spacing: 1.5px;
}


.about-wrks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 80px;
}


.aboutmypo{
    margin: 30px;
    padding: 0px;
    box-sizing: border-box;
}

.about-container{
width: 100%;
min-height: 50vh;

}

.wrks {
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    border: 4px  #1a5c96;
    background:#023b49 ;
    border-radius: 1rem;
    margin-top:3rem ;
}

.wrks:hover{
    background: #1f8d99;
}

.wrks a {
    text-decoration: none;
}

.wrks p {
    margin-top: 10px;
}

.fa-solid, .fa-brands {
    color: whitesmoke;
}


/* SKILLS */

.skills {
    margin: 60px auto;
}

.skills-text {
    text-align: center;
    line-height: 1.6;
    padding: 20px;

}

.skills-text a {
    font-size: 35px;
    font-weight: 600;
    color: hsl(188, 71%, 13%);
    text-decoration: none;
}







.skills-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 80px;
}

.skills-content {
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    background: #023b49 ;
    border-radius: 1rem;
}

.skills-content:hover{
    background: #1f8d99;
}


.skills-content h3{
    margin-top: 10px;
}

.skills-content p {
    margin-top: 10px;
}


.form {
    margin: 10px auto;
}

.form a {
    text-decoration: none;
}


.form-text {
    text-align: center;
    margin-bottom: 60px;
}

.form-text h1{
    font-weight: 500;
    font-size: 35px;
    color: white;

}
input {
    background: rgb(5, 71, 87);
    width: 80%;
    height: 30px;
    padding: 16px;
    margin-left: 12%;
    margin-bottom: 10px;
    border: 1px solid #04343a;
    font-family: "Playfair Display", serif;
    text-size-adjust: 1rem;
    border-radius: 0.5rem;
}

textarea {
    background: rgb(5, 71, 87);
    width: 80%;
    margin-left: 12%;
    font-size: 1rem;
    border: 1px solid #04343a;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}

input:focus-within {
     outline: none;
     border-color: whitesmoke;
     border-width: 3px;
}

textarea:focus-within {
    outline: none;
    border-color:whitesmoke;
    border-width: 3px;
}



/* Footer */

.foot {
    background:rgb(29, 50, 61);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* MEDIA QUERRIES */

/* TABLET 
@media (min-width:768px) {

    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 10px;
    }

    .about-wrks {
      flex-direction: row;
      flex-wrap: wrap;
    }


    .skills-details {
        flex-direction: row;
        flex-wrap: wrap;
    }
}*/


/* LAPTOP SCREEN 

@media (min-width: 1024px) {

    .nav-bar ul {
        gap: 25px;
    }


    .container {
        max-width: 90%;
        margin: 1em auto;
    }

    .logo {
        width: 300px;
        font-size: 25px;
    }

    .nav-bar {
        font-size: 25px;
    }

    
.details {
    flex-direction: row;
    margin-top: 150px;
    gap: 150px;
}

.details-img img{
    width: 400px;
    height: 400px;
}

.details-content h2 {
    font-size: 40px;
}

.about {
    margin-top: 100px;
}

.about-text p {
    max-width: 90%;
    font-size: 20px;
    display: flexbox;
    margin: auto;
}

.skills {
    margin-top: 100px;
}


.write-ups {
    max-width: 90%;
    font-size: 20px;
    display: flex;
    margin: auto;
}

.form {
    margin-top: 100px;
}
} */


